body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
header h1 {
  text-align: center;
}
#profile {
  text-align: center;
  background-color: lightgray;
  padding: 30px;
  margin: 0px;
}
#profile img {
  height: 300px;
  border-radius: 50%;
}
#content {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}
hr {
  margin: 10%;
}

#skills {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  border: 1px solid #dddd;
}

.card img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 30px;
}

footer a {
  margin: 20px;
}
